{{ header }}
<section id="slider" class="no-padding content-top-margin"> 
            <!-- slider -->
            <div id="owl-demo" class="owl-carousel owl-theme owl-half-slider dark-pagination dark-pagination-without-next-prev-arrow bg-slider homeslider">
                <!-- slider item -->
                <div class="item owl-bg-img">
                    <div class="position-relative">
                        <div class="slider-typography slider-typography-shop text-left ">    
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding text-center">
                            <div class="mobileview"><a href="/rings/engagement-rings"><img src="catalog/view/theme/default/image/homepage/mob_banner1.jpg" /></a></div>
                            <div class="slider-text-middle-main padding-two">
                                <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                                    <span class="owl-subtitle black-text">Season 2017</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven width-100 padding-one">Engagement Rings Collection</span>
                                    <p class="border-top padding-four no-padding-bottom">Shop our exclusive collection of diamond solitaire rings, halo rings, and vintage rings with diamond on shoulders. All of our beautiful designs are carefully manufactured by our skilled British craftsmen, with love and passion.</p>
                                    <a href="/engagement-rings" class="highlight-button-dark btn margin-four">Shop Now</a>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding desktopview">
                            <a href="/engagement-rings"><img src="catalog/view/theme/default/image/homepage/mob_banner1.jpg" /></a>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- slider item -->
                <!--<div class="item owl-bg-img">
                    <div class="position-relative">
                        <div class="slider-typography slider-typography-shop text-left ">    
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding text-center">
                            <div class="slider-text-middle-main padding-four">
                                <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                                    <span class="owl-subtitle black-text">Season 2015</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven width-100 padding-four">Shopping With Style</span>
                                    <p class="border-top padding-four no-padding-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <a href="#" class="highlight-button-dark btn margin-four">Read More</a>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <img src="image/catalog/homeslider/banner-img.jpg" />
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>-->
                <!-- end slider item -->
                <!-- slider item -->
                <!--<div class="item owl-bg-img" style="background-image:url('image/catalog/1920x710/banner_1920x710_3.jpg');">
                    <div class="container position-relative">
                        <div class="slider-typography slider-typography-shop text-left">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle padding-left-right-px">
                                    <span class="owl-subtitle black-text">Best Products</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven">Top Notch Products</span>
                                    <a href="#" class="highlight-button-dark btn margin-four">Check Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- end slider item -->
            </div>
            <!-- end slider -->
        </section>



<section class="padding-two homeblogs">
	<div class="container width-100">
		
		<div class="row">
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven text-center" data-wow-duration="600ms">
				<div class="blog-image"><a href="/earrings"><img src="catalog/view/theme/default/image/homepage/ern003sw-wc-sided.jpg" alt=""/></a></div>
				<div class="blog-details">
					<div class="blog-title bg-mid-gray"><a href="/earrings" class="padding-two white-text">Diamond Earrings</a></div>
                    <p>Diamond earring are the perfect gift for any occasion. Shop our collection of diamond studs, hoop earrings, halo earrings, and a range of delicate earrings.</p>
				</div>
			</div>
			<!-- end news item -->
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven text-center" data-wow-duration="600ms">				
				<div class="blog-details desktopview">
					<div class="blog-title bg-mid-gray"><a href="/pendants" class="padding-two white-text">Diamond Pendants</a></div>
                    <p>Pendants add a touch of subtle elegance to any attire, day or night. View our selection of stones in a variety of shapes and colours to suit your taste.</p>
				</div>
                <div class="blog-image"><a href="/pendants"><img src="catalog/view/theme/default/image/homepage/pnd003swback.jpg" alt=""/></a></div>
                <div class="blog-details mobileview">
					<div class="blog-title bg-mid-gray"><a href="/pendants" class="padding-two white-text">Diamond Pendants</a></div>
                    <p>Pendants add a touch of subtle elegance to any attire, day or night. View our selection of stones in a variety of shapes and colours to suit your taste.</p>
				</div>
                
			</div>
			<!-- end news item -->
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn text-center" data-wow-duration="600ms">
				<div class="blog-image"><a href="/bracelets"><img src="catalog/view/theme/default/image/homepage/bng001sy-wc-sideb.jpg" alt=""/></a></div>
				<div class="blog-details">
					<div class="blog-title bg-mid-gray"><a href="/bracelets" class="padding-two white-text">Diamond Bracelets</a></div>
                    <p>Bracelets are an ideal keepsake for friends, family, and loved ones. Explore the many styles we have to offer.</p>
				</div>
			</div>
			<!-- end news item -->
		</div>
	</div>
</section>
{{ content_top }}
<section class="padding-two">
	<div class="container width-100">		
		<div class="row homepinksection">
			<div class="col-md-6 col-sm-6 no-padding-left box-left">
            	<div class="col-md-12 col-sm-12 bg-light-pink-2 no-padding">
                    <div class="col-md-6 col-sm-6 no-padding">
                     <a href="/book-appointment"><img src="catalog/view/theme/default/image/homepage/bespoke-img.jpg" /></a>
                    </div>
                     <div class="col-md-6 col-sm-6 text-right padding-seven">
                    	<h3>TRY & FEEL</h3>
                        <h2 class="padding-four">Visit Showroom</h2>
                        <p>Visit our showroom at Hatton Garden (London) for a one-to-one consultation. We offer a totally no-pressure environment, so you choose the perfect diamond jewellery for you. Schedule and appointment to view our selection of diamond rings and fine jewellery today.</p>                        
                        <a class="highlight-button btn btn-small no-margin" href="/book-appointment">BOOK APPOINTMENT NOW</a>
                    </div>
                    </div>
             </div>
             <div class="col-md-6 col-sm-6 no-padding-right box-right">  
             <div class="col-md-12 col-sm-12 bg-light-pink-3 no-padding">        
             <div class="col-md-6 col-sm-6 no-padding f-right">
                    <a href="/bespoke"><img src="catalog/view/theme/default/image/homepage/design-sketching.jpg" /></a>
                    </div>            
                     <div class="col-md-6 col-sm-6 text-left padding-seven">
                    	<h3>Create Own Design</h3>
                        <h2 class="padding-four ">Bespoke Design Service</h2>
                        <p>ABELINI Jewellery have the ability to transform the latest trends and preferences of style into bespoke jewellery through exquisite design. If you are looking for a unique design that is made for you, ABELINI will make your dream a reality.<br/><br/></p>
                        <a class="highlight-button btn btn-small no-margin" href="/bespoke">REQUEST BESPOKE DESIGN</a>                       
                    </div>
                    
                    </div>
             </div>
		</div>
	</div>
</section>


<section class="bg-gray padding-two">
	<div class="container width-100">
		<div class="row">
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
                	<p><img src="catalog/view/theme/default/image/homepage/britain-img.png" /></p>
					<p class="text-large text-uppercase no-margin-bottom">Handcrafted in</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">Britain</p>
					<a class="highlight-button btn btn-small no-margin" href="/about-us">Discover Now!</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">					
					<p><img src="catalog/view/theme/default/image/homepage/warranty-img.png" /></p>
					<p class="text-large text-uppercase no-margin-bottom">Lifetime</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">Warranty</p>
					<a class="highlight-button btn btn-small no-margin" href="/warranty-and-care">Discover Now!</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p><img src="catalog/view/theme/default/image/homepage/try-at-home-img.png" /></p>
					<p class="text-large text-uppercase no-margin-bottom">Free Sample</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">Try At Home</p>
					<a class="highlight-button btn btn-small no-margin" href="/home-trial">Discover Now!</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p><img src="catalog/view/theme/default/image/homepage/finanace-img.png" /></p>
					<p class="text-large text-uppercase no-margin-bottom">Interest Free</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">Finance</p>
					<a class="highlight-button btn btn-small no-margin" href="/interest-free-finance">Discover Now!</a>
				</div>
			</div>
			<!-- end text block -->
		</div>
	</div>
</section>

<!-- features section -->
        <section id="features" class="features homefeatures wow fadeIn padding-three">
            <div class="container width-100">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 ">
                        <h2 class="padding-one no-padding-top text-center margin-two-bottom">ABELINI JEWELERY</h2>
                        <div class="col-md-6">
						<h4>British jewellery with peace of mind</h4>
						<p>Our beautiful jewellery can be delivered to your doorstep - free of cost. Simply order online. We use fully-insured shipment to deliver your order with peace of mind.</p>
						<p>If, for any reason, you are not completely satisfied with your purchase, you can send your order back, no quibble, for a full refund.</p>
						<p>Your purchase at ABELINI is secured by the best security systems online. We ensure that every transaction made on our website is secure – we offer safe payment methods like PayPal, and keep your data secure.</p>
                        </div>
                        <div class="col-md-6">
						<h4>Delivering top quality</h4>
						<p>All our diamond jewellery is made in well-established workshop by our in-house craftsmen. Our workshops have the most up-to-date equipment and follow the most advanced processes to produce captivating pieces of jewellery.</p>
						<p>Using CAD (Computer Aided Design) and CAM (Computer Aided Manufacture) technology enables us to design and make beautiful, high standard pieces of jewellery. We ensure authenticity and quality of all our jewellery – each piece is reviewed before being shipped to the customer.</p>
                        </div>
                    </div>
                    <!-- end section title -->
                </div>
                </div>
                </section>
				<div class="wide-separator-line bg-mid-gray no-margin"></div>
                <section id="features" class="features homefeatures wow fadeIn padding-three">
            <div class="container width-100">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Classic</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Halo</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Diamond Band</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Trilogy</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Vintage</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Bespoke</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                </div>
            </div>
        </section>
 <!-- end features section -->

<section class="bg-dark-gray padding-three">
	<div class="container width-100">
		<div class="row">
			<div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten"><i class="icon-global large-icon white-text"></i><h6 class="white-text margin-two no-margin-bottom">Free Delivery</h6></div>
			<div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten"><img src="catalog/view/theme/default/image/30day_return.png"  alt="30 days return" /><h6 class="white-text margin-two no-margin-bottom">30 Days Return</h6></div>
			<div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img src="catalog/view/theme/default/image/gift_box.png"  alt="30 days return" /><h6 class="white-text margin-two no-margin-bottom">Presentation Box</h6></div>
			<div class="col-md-3 col-sm-6 text-center"><img src="catalog/view/theme/default/image/free_ring_sizer.png"  alt="30 days return" /><h6 class="white-text margin-two no-margin-bottom">One Free Resizing</h6></div>
		</div>
	</div>
</section>
{{ footer }}