{{ header }}
<section id="slider" class="no-padding content-top-margin"> 
            <!-- slider -->
            <div id="owl-demo" class="owl-carousel owl-theme owl-half-slider dark-pagination dark-pagination-without-next-prev-arrow bg-light-pink-2 homeslider">
                <!-- slider item -->
                <div class="item owl-bg-img">
                    <div class="position-relative">
                        <div class="slider-typography slider-typography-shop text-left ">    
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding text-center">
                            <div class="mobileview"><img src="catalog/view/theme/default/image/homepage/mob_banner1.jpg" /></div>
                            <div class="slider-text-middle-main padding-four">
                                <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                                    <span class="owl-subtitle black-text">Season 2017</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven width-100 padding-four">Engagement Rings Collection</span>
                                    <p class="border-top padding-four no-padding-bottom">Shop our exclusive collection of diamond solitaire rings, halo rings, and vintage rings with diamond on shoulders. All of our beautiful designs are carefully manufactured by our skilled British craftsmen, with love and passion.</p>
                                    <a href="/rings/engagement-rings" class="highlight-button-dark btn margin-four">Shop Now</a>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding desktopview">
                            <img src="catalog/view/theme/default/image/homepage/banner1.jpg" />
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- slider item -->
                <!--<div class="item owl-bg-img">
                    <div class="position-relative">
                        <div class="slider-typography slider-typography-shop text-left ">    
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding text-center">
                            <div class="slider-text-middle-main padding-four">
                                <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                                    <span class="owl-subtitle black-text">Season 2015</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven width-100 padding-four">Shopping With Style</span>
                                    <p class="border-top padding-four no-padding-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <a href="#" class="highlight-button-dark btn margin-four">Read More</a>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <img src="image/catalog/homeslider/banner-img.jpg" />
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>-->
                <!-- end slider item -->
                <!-- slider item -->
                <!--<div class="item owl-bg-img" style="background-image:url('image/catalog/1920x710/banner_1920x710_3.jpg');">
                    <div class="container position-relative">
                        <div class="slider-typography slider-typography-shop text-left">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle padding-left-right-px">
                                    <span class="owl-subtitle black-text">Best Products</span>
                                    <span class="owl-title black-text xs-margin-bottom-seven">Top Notch Products</span>
                                    <a href="#" class="highlight-button-dark btn margin-four">Check Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- end slider item -->
            </div>
            <!-- end slider -->
        </section>



<section class="padding-two homeblogs">
	<div class="container width-100">
		
		<div class="row">
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven text-center" data-wow-duration="600ms">
				<div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="catalog/view/theme/default/image/homepage/ern003sw-wc-sided.jpg" alt=""/></a></div>
				<div class="blog-details">
					<div class="blog-title"><a href="blog-single-right-sidebar.html">Diamond Earrings</a></div>
                    <p>Diamond earring are the perfect gift for any occasion. Shop our collection of diamond studs, hoop earrings, halo earrings, and a range of delicate earrings.</p>
				</div>
			</div>
			<!-- end news item -->
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven text-center" data-wow-duration="600ms">				
				<div class="blog-details desktopview">
					<div class="blog-title"><a href="blog-single-right-sidebar.html">Diamond Pendants</a></div>
                    <p>Pendants add a touch of subtle elegance to any attire, day or night. View our selection of stones in a variety of shapes and colours to suit your taste.</p>
				</div>
                <div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="catalog/view/theme/default/image/homepage/pnd003swback.jpg" alt=""/></a></div>
                <div class="blog-details mobileview">
					<div class="blog-title"><a href="blog-single-right-sidebar.html">Diamond Pendants</a></div>
                    <p>Pendants add a touch of subtle elegance to any attire, day or night. View our selection of stones in a variety of shapes and colours to suit your taste.</p>
				</div>
                
			</div>
			<!-- end news item -->
			<!-- news item -->
			<div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn text-center" data-wow-duration="600ms">
				<div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="catalog/view/theme/default/image/homepage/bng001sy-wc-sideb.jpg" alt=""/></a></div>
				<div class="blog-details">
					<div class="blog-title"><a href="blog-single-right-sidebar.html">Diamond Bracelets</a></div>
                    <p>Bracelets are an ideal keepsake for friends, family, and loved ones. Explore the many styles we have to offer.</p>
				</div>
			</div>
			<!-- end news item -->
		</div>
	</div>
</section>

<section class="bg-gray padding-two">
	<div class="container width-100">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="padding-three no-padding-top">Best Sellers</h2>
			</div>
		</div>
		<div class="row">
			<!-- featured products slider -->
			<div id="shop-products" class="owl-carousel owl-theme dark-pagination owl-no-pagination owl-prev-next-simple">
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/1.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Richard Nicoll</a></span>
						<span class="price black-text">$680</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/2.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Roland Mouret</a></span>
						<span class="price black-text">$980</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/3.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Preen Line</a></span>
						<span class="price black-text">$750</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/4.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Balmain</a></span>
						<span class="price black-text">$350</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/5.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Dolce & Gabbana</a></span>
						<span class="price black-text">$700</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
				<!-- shop item -->
				<div class="item">
					<div class="home-product text-center position-relative overflow-hidden">
						<a href="shop-single-product.html"><img src="image/catalog/product/6.png" alt=""/></a>
						<span class="product-name text-uppercase"><a href="shop-single-product.html">Valentino</a></span>
						<span class="price black-text">$370</span>
						<div class="quick-buy">
							<div class="product-share">
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
								<a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
								<a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end shop item -->
			</div>
			<!-- end featured products slider -->
		</div>
	</div>
</section>
<section class="padding-two">
	<div class="container width-100">		
		<div class="row homepinksection">
			<div class="col-md-6 col-sm-6 no-padding-left box-left">
            	<div class="col-md-12 col-sm-12 bg-light-pink-2 no-padding">
                    <div class="col-md-5 col-sm-5 no-padding">
                     <img src="catalog/view/theme/default/image/homepage/bespoke-img.jpg" />
                    </div>
                     <div class="col-md-7 col-sm-7 text-right padding-seven">
                    	<h3>Visit our showroom</h3>
                        <h2 class="padding-four ">TRY & FEEL</h2>
                        <p>Visit our showroom at Hatton Garden (London) for a one-to-one consultation. We offer a totally no-pressure environment, so you choose the perfect diamond jewellery for you. Schedule and appointment to view our selection of diamond rings and fine jewellery today.</p>                        
                        <a class="highlight-button btn btn-small no-margin" href="#">BOOK APPOINTMENT NOW</a>
                    </div>
                    </div>
             </div>
             <div class="col-md-6 col-sm-6 no-padding-right box-right">  
             <div class="col-md-12 col-sm-12 bg-light-pink-3 no-padding">        
             <div class="col-md-5 col-sm-5 no-padding f-right">
                    <img src="catalog/view/theme/default/image/homepage/design-sketching.jpg" />
                    </div>            
                     <div class="col-md-7 col-sm-7 text-left padding-seven">
                    	<h3>Bespoke Jewellery</h3>
                        <h2 class="padding-four ">Bespoke Jewellery Service</h2>
                        <p>ABELINI Jewellery have the ability to transform the latest trends and preferences of style into bespoke jewellery through exquisite design. If you are looking for a unique design that is made for you, ABELINI will make your dream a reality.<br/><br/></p>
                        <a class="highlight-button btn btn-small no-margin" href="#">REQUEST BESPOKE DESIGN</a>                       
                    </div>
                    
                    </div>
             </div>
		</div>
	</div>
</section>


<section class="bg-gray padding-two">
	<div class="container width-100">
		<div class="row">
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p class="text-large text-uppercase no-margin-bottom">Men's Watches</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">20% Off</p>
					<a class="highlight-button btn btn-small no-margin" href="shop-with-sidebar.html">View Collection</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p class="title-small text-uppercase font-weight-600 black-text no-margin-bottom letter-spacing-1">45% Off</p>
					<p class="text-large text-uppercase">Last Day Sale!</p>
					<a class="highlight-button btn btn-small no-margin" href="shop-with-sidebar.html">Free Shopping</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p class="text-large text-uppercase no-margin-bottom">Added To Sale</p>
					<p class="title-small text-uppercase font-weight-600 black-text width-70 center-col letter-spacing-1">New Styles</p>
					<a class="highlight-button btn btn-small no-margin" href="shop-with-sidebar.html">Shop Now</a>
				</div>
			</div>
			<!-- end text block -->
			<!-- text block -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-block text-center">
				<div class="text-block-inner">
					<p class="text-large text-uppercase no-margin-bottom">Last 2 Days!</p>
					<p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">Summer Sale</p>
					<a class="highlight-button btn btn-small no-margin" href="shop-with-sidebar.html">Discover Now!</a>
				</div>
			</div>
			<!-- end text block -->
		</div>
	</div>
</section>

<!-- features section -->
        <section id="features" class="features homefeatures wow fadeIn padding-three">
            <div class="container width-100">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h2 class="padding-five no-padding-top">Our Ring Styles Explained...</h2>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Classic</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Halo</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Diamond Band</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Trilogy</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Vintage</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center f-right">
                                <h3>Bespoke</h3>
                                <div class="separator-line bg-yellow"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                </div>
            </div>
        </section>
 <!-- end features section -->

<section class="bg-dark-gray padding-three">
	<div class="container width-100">
		<div class="row">
			<div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten"><i class="icon-global medium-icon white-text"></i><h6 class="white-text margin-two no-margin-bottom">Free Shipping</h6></div>
			<div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten"><i class="icon-heart medium-icon white-text"></i><h6 class="white-text margin-two no-margin-bottom">24/7 Customer Service</h6></div>
			<div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><i class="icon-happy medium-icon white-text"></i><h6 class="white-text margin-two no-margin-bottom">No Additional Fees</h6></div>
			<div class="col-md-3 col-sm-6 text-center"><i class="icon-gift medium-icon white-text"></i><h6 class="white-text margin-two no-margin-bottom">Same Day Delivery</h6></div>
		</div>
	</div>
</section>
{{ footer }}