
<div class="loginpop-wrap modal-popup-main zoom-anim-dialog">
<section class="top">
	{% if favorite == 'yes' %}
	<h3 class="title">Let's treasure your favorite jewels</h3>
	{% endif %}
    <div class="loginpop-tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#login" data-toggle="tab">Sign In</a></li>
                <li><a href="#register" data-toggle="tab">Register</a></li>
            </ul>
      </div></section>

      <div class="tab-content clearfix">
      <section id="login" class="tab-pane fade in active">
	  {% if favorite == 'yes' %}
      <p class="texter">Sign in to your account so you can save your favorites.</p>
	  {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" id="form-login">
            <div class="form-group">
              <!--<label for="email" class="control-label col-xs-2">Email :</label>-->
              <div class="col-xs-10">
              <input type="email" name="email" tabindex="1" class="form-control" placeholder="Email" value=""></div>
            </div>
            <div class="form-group">
              <!--<label for="password" class="control-label col-xs-2">Password</label>-->
              <div class="col-xs-10">
              <input type="password" name="password" tabindex="2" class="form-control" placeholder="Password"></div>
            </div>
            <div class="form-group formbtn">
                <div class="col-xs-10">
                  <input type="button" name="button-login" id="button-login" tabindex="4" class="btn-black button"  value="SIGN IN">
                </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-center">
                    <p><a href="javascript:void(0);" tabindex="5" class="forgot-password" onclick="forgot();">Forgot Password?</a></p>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </section>


      <section id="register" class="tab-pane fade">
      <p class="texter" style="display:none;">Create an account so you can save your favorites.</p>
         <form action=""  method="post" enctype="multipart/form-data" class="form-horizontal" id ="form-register">
              <div class="form-group">
                <!--<label for="name" class="control-label col-xs-2">First Name :</label>-->
                <div class="col-xs-10">
                <input type="text" name="firstname" tabindex="1" class="form-control" placeholder="First Name" value=""></div>
              </div>
			  <div class="form-group">
                <!--<label for="name" class="control-label col-xs-2">Last Name :</label>-->
                <div class="col-xs-10">
                <input type="text" name="lastname" tabindex="1" class="form-control" placeholder="Last Name" value=""></div>
              </div>
              <div class="form-group">
                <!--<label for="email" class="control-label col-xs-2">Email :</label>-->
                <div class="col-xs-10">
                <input type="email" name="email" tabindex="2" class="form-control" placeholder="Email" value=""></div>
              </div>
              <div class="form-group">
                <!--<label for="password" class="control-label col-xs-2">Password</label>-->
                <div class="col-xs-10">
                <input type="password" name="password" tabindex="3" class="form-control" placeholder="Password"></div>
              </div>
              <div class="form-group formbtn">
                  <div class="col-xs-10">
                    <input type="button" name="button-register" id="button-register" tabindex="4" class="btn-black button" value="CREATE ACCOUNT">
                  </div>
              </div>
              <div class="form-group">
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-center">
                    <p>By creating this account, you agree to the <a href="/terms-of-use" class="botline">Terms of Use</a> &amp; <a href="/privacy-policy" class="botline">Privacy</a></p>
                  </div>
                </div>
              </div>
            </div>
            </form>
        </section>
      </div>

</div>

<div class="forgot-wrap hidden">	  
	  <form action=""  method="post" enctype="multipart/form-data" class="form-horizontal" id="form-forgot">
	  <div id="forgotten-password">
		<div class=" clearfix" id="forgot">
		  <div class="forgotten-passwordtext createaccounttext checkoutlogintext">
		  <p class="backlink"> <a href="javascript:void(0);" onclick="go_back();"><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span> Back</a></p> 
			<h3>Forgot Password</h3>
			<p>Enter your email address and we'll send you instructions to reset your password.</p>
			<ul class="createaccountform forgotpasswordform">
				<li><input id="input-email" type="email" name="email" value="" placeholder="Email Address"></li>
				<li class="formbtn"><input type="button" name="button-forgot" id="button-forgot" value="Send Reset Instructions" class="btn-black button desktopview"> <input type="button" name="button-forgot" id="button-forgot" value="Reset" class="btn-black button mobileview"></li>
			</ul>
			<div class="clear"></div>
		  </div>
		</div>
		</div>
		</form>    
		
</div>
<script type="text/javascript"><!--

$('#button-login').on('click', function() { 
  $.ajax({
    url: 'index.php?route=account/login/confirm',
    type: 'post',
    dataType: 'json',
    data: $("#form-login").serialize(),
    beforeSend: function() {
      $('#button-login').button('loading');
    },
    complete: function() {
      $('#button-login').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#login').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
	  /*
	    if(parent.jQuery(".quiz_form").length > 0){
		    var ider = jQuery(".quiz_form").attr('id');
			parent.jQuery("#"+ider).submit();
			return false;
		}
		*/
        $('#login').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('input[name=\'email\']').val('');
        $('input[name=\'password\']').val('');
        $(".close").trigger('click');
        
		if(json['redirect']){
			location.href= json['redirect'];
			return false;
		}
      }
    }
  });
});

//--></script>
<script type="text/javascript"><!--

$('#button-register').on('click', function() {
  $.ajax({
    url: 'index.php?route=account/register/confirm',
    type: 'post',
    dataType: 'json',
    data: $("#form-register").serialize(),
    beforeSend: function() {
      $('#button-register').button('loading');
    },
    complete: function() {
      $('#button-register').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#register').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#register').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'firstname\']').val('');
        $('input[name=\'email\']').val('');
        $('input[name=\'password\']').val('');
        $(".close").trigger('click');

		if(json['redirect']){
			location.href= json['redirect'];
			return false;
		}
		
      }
    }
  });
});

//--></script>
<script type="text/javascript"><!--

$('#button-forgot').on('click', function() {
  $.ajax({
    url: 'index.php?route=account/forgotten/confirm',
    type: 'post',
    dataType: 'json',
    data: $("#form-forgot").serialize(),
    beforeSend: function() {
      $('#button-forgot').button('loading');
    },
    complete: function() {
      $('#button-forgot').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#forgot').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#forgot').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'email\']').val('');
        /*$('#modal-agree').modal('hide');
            setTimeout(function(){
               location.reload();
          }, 100);*/
      }
    }
  });
});

//--></script>
<script type="text/javascript"><!--

function forgot() {
	$('.loginpop-wrap').addClass('hidden');
	$('.forgot-wrap').removeClass('hidden');
}
function go_back(){
	$('.forgot-wrap').addClass('hidden');
	$('.loginpop-wrap').removeClass('hidden');
}

//--></script>
